name: Docker CI Demo

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*'

env:
  DOCKER_IMAGE_NAME: dbgurum/nodejs-ci
      
jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v3
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
        tags: |
            # Git Tag를 직접 이미지 태그로 사용 (예: Git Tag 'v1.0.0' -> Docker Tag 'v1.0.0')
            type=ref,event=tag

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

